/* Colores */
:root {
    --light-blue-100: hsla(227, 60%, 97%, 1);
    --dark-blue-300: hsl(215, 75%, 25%);
    --white: hsla(0, 0%, 100%, 1);
    --gray-500: hsla(210, 10%, 23%, 1);
    --decoder-btn: hsla(214, 26%, 88%, 1);
    --gray-400: hsla(210, 9%, 31%, 1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    font-family: "Inter", sans-serif;
    font-size: 32px;
    font-weight: 400;
    line-height: 150%;
    background-color: var(--light-blue-100);

}

header {
    width: 50%;
    padding: 32px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: center;
}

main {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

section {
    flex-direction: row;
}

.text-inputUsuario {
    width: 100%;
    padding: 16px;
    height: 500px;
    margin: 0 auto;
    border: none;
    resize: none;
}

.text-inputUsuario,
.text-inputUsuario::placeholder {
    color: var(--dark-blue-300);
}

.text-advertencia {
    color: var(--gray-500);
    font-size: 16px;
}

.btn {
    border-radius: 10px;
    font-size: 24px;
    width: 300px;
    padding: 10px;
    margin-right: 5px;
    border: 1px solid var(--dark-blue-300);

}

.btn-encriptar {
    background-color: var(--dark-blue-300);
    color: var(--light-blue-100)
}

.btn-desencriptar {
    background-color: var(--decoder-btn);
    border: 1px solid var(--dark-blue-300);
    color: var(--dark-blue-300);
}

.text-output-section {
    position: relative;
    background-color: #fff;
    width: 30%;
    height: 700px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    top: -50px;
    left: 90px;
    box-shadow: 2px 2px 20px rgb(0 0 0 / 50%);
}

.text-outputUsuario {
    width: 100%;
    height: 550px;
    padding: 16px;
    background-color: #fff;
}

.mostrarMensajeVacio {
    position: relative;
    display: flex;
    background-color: #fff;
    width: 90%;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
}

.mostrarMensajeVacio h3,
p {
    color: var(--dark-blue-300);
    font-size: 24px;
    background-color: transparent;
    text-align: center;
}

.mostrarMensajeVacio h3 {
    font-weight: 700;
}

.ilustracion {
    width: 250px;
    height: 250px;
    background-color: #fff;
}


.ocultarMensajeVacio {
    display: none;
}

.ocultarBtnCopiar {
    display: none;
    background: transparent;
    color: var(--dark-blue-300);
    border: 1px solid var(--dark-blue-300);
    margin: 15px auto;
}

.text-footer {
    height: 50px;
    display: flex;
    bottom: 0;
    font-size: 16px;
    color: var(--dark-blue-300);
    text-align: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: flex-end;
    align-items: flex-end;
    justify-content: center;
}

.text-footer a {
    text-decoration: none;
    font-size: 16px;
    color: var(--dark-blue-300);
}

@media screen and (max-width: 480px) {

    header {
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-content: flex-start;
    }

    main {
        flex-direction: column;
    }


    section {
        flex-direction: column;
        width: 100%;
        height: 100%;
    }

    .text-inputUsuario {
        min-height: 300px;
        margin: top 90px;
    }

    .botones {
        display: flex;
    }

    .text-output-section {
        width: 95%;
        height: 450px;
        margin: 0;
        top: 10px;
        left: 0;
        padding: 10px;
    }

    .mostrarMensajeVacio {
        display: flex;
        position: absolute;
        width: 95%;
    }

    .mostrarMensajeVacio h3,
    p {
        color: var(--dark-blue-300);
        font-size: 24px;
        background-color: transparent;
        text-align: center;
    }

    .ilustracion {
        display: none;
    }

    .ocultarBtnCopiar {
        align-self: center;
        left: 0;
        bottom: 0;
    }

    .text-outputUsuario {
        width: 100%;
        height: 100%;
        border: none;
        resize: none;
        background-color: transparent;
    }
}


@media screen and (min-width: 769px) and (max-width: 1024px) {

    header {
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
    }

    main {
        flex-direction: column;
    }


    section {
        flex-direction: column;
        width: 100%;
        height: 100%;
    }

    .text-inputUsuario {
        min-height: 300px;
        margin: top 90px;
    }

    .text-advertencia {
        margin-left: 80px;
    }

    .botones {
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .text-output-section {
        width: 95%;
        height: 450px;
        margin: 0;
        top: 10px;
        left: 0;
        padding: 10px;
    }

    .mostrarMensajeVacio {
        position: absolute;
        width: 95%;
    }

    .mostrarMensajeVacio h3,
    p {
        color: var(--dark-blue-300);
        font-size: 24px;
        background-color: transparent;
        text-align: center;
    }

    .ilustracion {
        display: none;
    }

    .ocultarBtnCopiar {
        left: 0;
        bottom: 0;
    }

    .text-outputUsuario {
        width: 100%;
        height: 100%;
        border: none;
        resize: none;
        background-color: transparent;
    }
}